# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

#   Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
*.pdf
*.xls
*.doc
*.xlsx
*.docx
*.ppt
*.pptx
*.csv
*.log
*.txt
*.json
#*.jpg
#*.jpeg
#*.png
#*.bmp
*.zip
*.gz
*.gzip
*.gif
*.csv
